/* General Navbar Styles */
.navbar {
  width: 100%;
  height: 100px;
  background-size: cover;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 10;
  padding-bottom: 10px;
}
.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 70px;
  position: relative;
}
.navbar .leftSide img {
  width: 150px;
}
/* Hidden Links (Initially Hidden on Small Screens) */
.navbar .hiddenLinks {
  display: none;
  flex-direction: column;
  gap: 15px;
}
.navbar .rightSide.open .hiddenLinks {
  display: flex;
}
.navbar .rightSide.close .hiddenLinks {
  display: none;
}
.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@font-face {
  font-family: museo;
  src: url(/public/museo-sans-rounded-700.ttf);
}
/* Links in the Navbar */
.navbar a {
  color: #f4f4f4;
  text-decoration: none;
  font-weight: bold;
  font-family: museo;
  margin: 30px;
  position: relative;
  transition: color 0.3s ease, transform 0.2s ease;
}
.navbar a:hover {
  color: #fc3aa4;
  transform: scale(1.1);
}
.navbar a.active::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 15px;
  width: 100px;
  background: url('../images/home/pencil.png') no-repeat center;
  background-size: contain;
}
/* Menu Button */
.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: #f4f4f4;
  cursor: pointer;
  display: none;
}
.navbar .rightSide svg {
  font-size: 60px;
  transition: transform 0.3s ease, color 0.2s ease;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a1a1a;
  width: 280px;
  height: 60px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: #f4f4f4;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease; 
  background-color: #1a1a1a;
}
@media (max-width: 767px) {
  .navbar .leftSide {
    padding: 0.5rem 0;
  }
  .navbar .rightSide {
    position: relative;
  }
  .navbar .hiddenLinks {
    position: fixed; 
    top: 100px; 
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #1a1a1a;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
  }
  .navbar .hiddenLinks a {
    display: block !important; /* Might update semantics later to not use !important */ 
    margin: 10px 0;
    text-align: center;
  }
  
  .navbar .rightSide > a,
  .navbar .rightSide > .dropdown {
    display: none;
  }
  .navbar .rightSide button {
    display: inherit;
    padding-top: 1rem;
  }
  .dropdown-content {
    position: static;
    box-shadow: none;
    background-color: transparent;
  }
  .dropdown-content a {
    color: #f4f4f4;
    display: block;
    text-align: center;
    padding: 15px 30px;
    transition: background-color 0.3s ease, color 0.3s ease; 
    background-color: #282727;
  }
  .navbar .rightSide.open .hiddenLinks {
    display: flex;
  }
  .navbar .rightSide.close .hiddenLinks {
    display: none;
  }
}