.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutTop {
  width: 100%; 
  height: 40vh; 
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #1a1a1a;
}

.aboutTop img { 
  padding-top: 60px;
}

.aboutBottom {
  display: flex;
  min-height: 90vh; 
  padding-top: 4rem;
}

.aboutBottom .left { 
  flex: 50%; 
  height: 100%; 
}

.left img { 
  padding-left: 90px;
  width: 500px;
}
.aboutBottom .right { 
  flex: 50%; 
}

.aboutBottom p {
  width: 90%; 
  max-width: 1200px; 
  font-size: 1rem;
  line-height: 1.8; 
  color: #555; 
  text-align: justify;
  margin-bottom: 20px;
}

@media (max-width: 767px) { 
  .aboutTop { 
    height: 28vh;
  }

  .aboutTop img { 
    padding-top: 92px;
    width: 100%;
    max-width: fit-content;
  }

  .aboutBottom { 
    flex-direction: column;
    align-items: center;
    min-height: auto;
    height: auto;
  }
  .left img { 
    width: 100%;
    max-width: fit-content;
    padding-left: 0;
  }

  .aboutBottom .right { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
  }

}