/* General Footer Styles */
.footer {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background-color: #1a1a1a;
  padding: 20px 40px;
  margin-top: auto;
}

/* Footer Top Section */
.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 4px solid #e15aac;
  padding-left: 30px;
}

/* Logo on the left */
.footerLogo img {
  width: 200px;
  height: auto;
}

/* Content aligned to the right */
.footerContent {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 100px;
  flex-grow: 1;
}

.MDA img { 
  width: 300px;
}
.footerColumn {
  text-align: right; 
}

@font-face { 
  font-family: museo; 
  src: url(/public/museo-sans-rounded-700.ttf);
}

.footerColumn h2 {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: museo;
  margin-bottom: 15px;
  color: #ffffff;
}

.footerColumn a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerColumn a:hover {
  color: #e15aac;
}

.footerColumn p {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.emailLink {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.emailLink:hover {
  color: #e15aac;
}

/* Footer Bottom Section */
.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 10px;
  color: #ffffff;
}

.footerBottom .copyright {
  padding-left: 39.4%;
  font-size: 0.9rem;
}

.footerBottom .socialMedia a {
  color: #ffffff;
  font-size: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footerBottom .socialMedia a:hover {
  transform: scale(1.2);
  color: #e15aac;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footerTop {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .footerLogo {
    display: none !important;
  }

  .footerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .footerColumn {
    text-align: center;
  }

  .footerBottom {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .footerBottom .copyright { 
    padding-left: 0;
  }
}
